/*
h1, h2 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
*/

h1 {
	margin-left: 30px;
}

#swatches {
	display: none;
}

#swatch {
	height: 80px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#r {
	background-color: #f18383;
}

#g {
	background-color: #83f193;
}

#b {
	background-color: #83b7f1;
}

.split-swatch {
	width: 50%;
	height: 40px;
	float: left;
}

.comp-swatch {
	height: 40px;
}

.rgb {
	display: inline-block;
}

.rgb input {
	text-align: right;
}

.palette {
	clear: left;
	margin-bottom: 7px;
}

.palette-swatch {
	float: left;
	width: 30px;
	height: 20px;
}

.palette-swatch-hover {
	border: solid 3px red;
	cursor: pointer;
}

#error {
	color: red;
	font-weight: bold;
	font-size: smaller;
	margin-bottom: 7px;
}

.hidden {
	display: none;
}

.code {
	color: #666;
	font-family: "Courier New", Courier, monospace;
	font-size: 1.1em;
}